<h1>{{title}}</h1>

<img width="960" height="640" alt="Manfred Steyer" loading="lazy"
     style="margin-top: 2000px"
     src="assets/img/demo/manfred-steyer.jpg"
     srcset="assets/img/demo/manfred-steyer.jpg 1920w,
     assets/img/demo/manfred-steyer300x200.jpg 300w,
     assets/img/demo/manfred-steyer480x320.jpg 480w,
     assets/img/demo/manfred-steyer768x512.jpg 768w,
     assets/img/demo/manfred-steyer1024x682.jpg 1024w,
     assets/img/demo/manfred-steyer1472x981.jpg 1472w"
     sizes="(max-width: 1920px) 100vw, 1920px" />
